html,body{ 
	width:100%;
	height:100%;
	font-family: 'Varela Round';
    background-size: cover;
    background-position: center center;
    /*color: white !important;*/
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

canvas{
  display:block;
  vertical-align:bottom;
}

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
/*  background-color: #b61924;*/
}


a {
  transition: all ease-in-out 200ms;
}
a:hover {
  text-decoration: none;
}

input::placeholder{
    color:rgba(128,128,128,0.7) !important;
}

input[type="text"],
input[type="text"]:hover,
input[type="text"]:focus
{
  background-color: rgba(0, 0, 0, 0);
}

input[type="password"],
input[type="password"]:hover,
input[type="password"]:focus
{
  background-color: rgba(0, 0, 0, 0);
}

.card {
    background-color: rgba(0, 0, 0, 0);
}

.someimg {
    height: 200px;
    background: #aaa;
}

.my-custom-scrollbar {
position: relative;
max-height: 330px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}

th{
  position: sticky;
  top: 0; /* Don't forget this, required for the stickiness */
  background-color:rgba(255,255,255, 0.9) !important;
}

td{
    max-width: 100px;
}

.card, .input-group-text{
    background-color:transparent;
}

#MarkerTable, #datepicker{
    background-color:transparent;
}

select, option{
    background-color:transparent !important;
    color: #000 !important;
}
ul > a,li > a{
    background-color:transparent !important;
    color: #000 !important;
}

